@page "/"

<section class="hero is-danger is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Battle Kill 9000
            </p>
            <p class="subtitle">
                Auto Battling RPG Thing
            </p>
            <a href="/in-game" class="button">Start Game</a>
        </div>
    </div>
</section>

@code
{

}