@using BK9K.Framework.Units
<div>
    <span class="tag is-info">@Unit.Name</span>
    <span class="tag is-danger">@Unit.Health.ToString()</span>
    <span class="tag is-warning">@Unit.Attack.ToString()</span>
</div>

@code {
    [Parameter]
    public Unit Unit { get; set; }
}