@using global::OpenRpg.Genres.Fantasy.Extensions
@using global::OpenRpg.Core.Stats

@if (Stats != null)
{
    <div class="columns">
        <div class="column">
            <h4 class="subtitle mb-2 has-text-dark has-text-centered">Health</h4>
            <progress class="progress is-danger" value="@Stats.Health().ToString()" max="@Stats.MaxHealth().ToString()"></progress>
        </div>
    </div>
}

@code {
    [Parameter]
    public IStatsVariables Stats { get; set; }
}