@using OpenRpg.Core.Stats
@using OpenRpg.Genres.Fantasy.Extensions

@if (Stats != null)
{
    <h4 class="subtitle mb-2 has-text-dark has-text-centered">Core Stats</h4>
    <div class="columns">
        <div class="column">
            <TagLabel Label="Str" Content="@Stats.Strength().ToString()" ContentTagType="is-success"></TagLabel>
        </div>
        <div class="column">
            <TagLabel Label="Dex" Content="@Stats.Dexterity().ToString()" ContentTagType="is-success"></TagLabel>
        </div>
        <div class="column">
            <TagLabel Label="Int" Content="@Stats.Intelligence().ToString()" ContentTagType="is-success"></TagLabel>
        </div>
        <div class="column">
            <TagLabel Label="Wis" Content="@Stats.Wisdom().ToString()" ContentTagType="is-success"></TagLabel>
        </div>
    </div>
}

@code {
    [Parameter]
    public IStatsVariables Stats { get; set; }
}