<div>
    @if (DidPlayerWin.Value)
    {
        <p class="title has-text-success">Level @LevelId Complete!</p>
    }
    else
    {
        <p class="title has-text-danger">YOU DIED :(</p>
        <a href="/" class="button">To Main Menu</a>
    }
</div>

@code {
    [Parameter]
    public bool? DidPlayerWin { get; set; }

    [Parameter]
    public int LevelId { get; set; }
}